.root {
  position: relative;
  width: 100%;
}

.bar {
  position: sticky;
  bottom: 0;
  z-index: 10;
  width: 100%;
  margin-top: calc(-1 * var(--footer-bar-height));
}

.bar::before {
  content: '';
  position: absolute;
  top: -2rem;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}


.barInner {
  box-sizing: border-box;
  width: 100%;
  min-height: var(--footer-bar-height);
  padding: var(--space-m) var(--space-l);
  display: flex;
  align-items: center;
  gap: var(--space-l);
}

.timeRow {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  gap: var(--space-m);
  min-width: 0;
}

.timeIcon {
  width: 16px;
  height: 16px;
}

.links {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-l);
  min-width: 0;
}