.root {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: var(--space-xl);
}

.canvas canvas {
  display: block;
  image-rendering: pixelated;
  height: 60svh;
}

.prefooter {
  height: 40vh;
  background: var(--gray-200);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
