.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);
}

.preHero {
 display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-m);
}