:root {
  --gray-00: #ffffff;
  --gray-100: #fbfbfb;
  --gray-200: #e9e9e7;
  --gray-300: #adada1;
  --gray-400: #6f6f5e;
  --gray-500: #535345;
  --gray-700: #25251d;
  --gray-800: #161616;
  --gray-900: #090909;

  --purple-lightest: #f0effb;
  --purple-light: #d8cdfa;
  --purple-medium: #6a42ee;
  --purple-darkest: #2e0754;

  --orange-lightest: #faeee9;
  --orange-light: #f6d1bf;
  --orange-medium: #f17131;
  --orange-darkest: #4a1e05;

  --font-family-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: var(--font-departure-mono), ui-monospace, monospace;

  --space-xs: 0.125rem; /* 2px  */
  --space-s: 0.25rem; /* 4px  */
  --space-m: 0.5rem; /* 8px  */
  --space-l: 1rem; /* 16px */
  --space-xl: 2rem; /* 32px */

  --container-narrow: 40rem; /* 640px (assuming root font-size is 16px) */
  --container-wide: 100%;

  --background: var(--gray-100);
  --border: var(--gray-200);

  --text-xs: 0.6875rem; /* 11px */
  --text-s: 0.75rem; /* 12px */
  --text-base: 0.875rem; /* 14px */
  --text-l: 1rem; /* 16px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 2rem; /* 32px */

  --font-normal: 475;
  --font-medium: 550;

  --leading-tight: 1.45;
  --leading-relaxed: 1.6;

  --text-highlight: var(--gray-900);
  --text-primary: var(--gray-400);
  --text-secondary: var(--gray-300);
  --text-muted: var(--gray-300);
  --text-accent: var(--accent);

  --transition-hover-property: color;
  --transition-hover-duration: 0.2s;
  --transition-hover-timing: ease-in-out;
  --transition-hover: var(--transition-hover-property) var(--transition-hover-duration) var(--transition-hover-timing);

  --transition-press-property: scale;
  --transition-press-duration: 0.1s;
  --transition-press-timing: ease-in-out;
  --transition-press: var(--transition-press-property) var(--transition-press-duration) var(--transition-press-timing);

  --accent-weak: var(--orange-lightest);
  --accent-soft: var(--orange-light);
  --accent: var(--orange-medium);
  --accent-strong: var(--orange-darkest);

  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --accent-weak: var(--purple-lightest);
    --accent-soft: var(--purple-light);
    --accent: var(--purple-medium);
    --accent-strong: var(--purple-darkest);
  }
}

:root[data-theme='dark'] {
  --accent-weak: var(--purple-lightest);
  --accent-soft: var(--purple-light);
  --accent: var(--purple-medium);
  --accent-strong: var(--purple-darkest);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
  line-height: var(--leading-relaxed);
  -webkit-font-smoothing: antialiased;
  margin: auto 0 0;
}

main {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  padding: var(--space-l);
  max-width: var(--container-narrow);
  margin: 0 auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.assistive {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.text-xs { font-size: var(--text-xs); }
.text-sm { font-size: var(--text-sm); }
.text-base { font-size: var(--text-base); }
.text-lg { font-size: var(--text-lg); }
.text-xl { font-size: var(--text-xl); }
.text-2xl { font-size: var(--text-2xl); }
.text-3xl { font-size: var(--text-3xl); }

.font-normal { font-weight: var(--font-normal); }
.font-medium { font-weight: var(--font-medium); }

.text-primary { color: var(--text-primary); }
.text-secondary { color: var(--text-secondary); }
.text-highlight { color: var(--text-highlight); }
.text-muted { color: var(--text-muted); }


h1 {
  font-family: monospace;
  font-size: var(--text-3xl);
  color: red;
}

.label {
  font-family: var(--font-family-mono);
  font-size: var(--text-s);
  font-weight: var(--font-normal);
  text-transform: uppercase;
  line-height: var(--leading-tight);
}

.body-regular, .mdx-p, .mdx-li {
  font-family: var(--font-family-sans);
  font-size: var(--text-base);
  font-weight: var(--font-normal);
  line-height: var(--leading-relaxed);
  letter-spacing: -0.1;
}

.body-medium {
  font-family: var(--font-family-sans);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  line-height: var(--leading-relaxed);
  letter-spacing: -0.1;
}

.mdx-h2, .mdx-h3 {
  font-family: var(--font-family-sans);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  line-height: var(--leading-relaxed);
  color: var(--text-highlight);
  letter-spacing: -0.1;
  margin-top: var(--space-l);
}

.caption {
  font-family: var(--font-family-sans);
  font-size: var(--text-s);
  font-weight: var(--font-normal);
  line-height: var(--leading-tight);
}

.mdx-ul,
.mdx-ol {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  padding-left: var(--space-l);
}

.mdx-ul {
  list-style: disc;
}

.mdx-ol {
  list-style: decimal;
}

.mdx-strong {
  font-weight: var(--font-medium);
  color: var(--text-highlight);
}

.mdx-media {
  width: 100%;
  border-radius: 8px;
}

.tableContainer {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.thead .th {
display: none;
}

.td {
  font-size: var(--text-base);
  color: var(--text-primary);
  padding: var(--space-m) 0;
  border-bottom: 1px solid var(--border);
}

